extends base

block content
        main.main
            .user-view
                include _account-menu
                .user-view_container
                    .user-view__content.myPlayers.hidden
                    h2.heading-secondary.players-heading My Players
                    if !getPlayers == `${user.id}`
                        h6 You do not have any players assigned to your account
                    else
                        section.section-players
                                .players
                                    each player in getPlayers
                                        if player.account == user.id
                                            .players__card
                                                span.profImg(style=`background: url(/img/players/${player.profImg}), #fff;`)
                                                h6.players__user= `${player.name}`
                                                - var birthDate = player.birthDate;
                                                - var birthYear = (birthDate.substr((birthDate.length - 4) * 1));
                                                h6.players__birthYear= `${birthYear}`
                                                img(class='player-banner' src='/img/players/player-banner.jpg')
                                                if !player.waiverSigned
                                                    h6.players__waiver.false NEEDS TO SIGN WAIVER
                                                else
                                                    h6.players__waiver.true Waiver Signed
                                                
                                                if !player.teams.length > 0
                                                    h6.teams__heading Current Enrollments
                                                    h6.players__teams Not currently enrolled
                                                else
                                                    each team in getSessions
                                                        if (player.teams).includes(team.id)
                                                            h6.teams__heading Current Enrollments
                                                            h6.players__teams= `${team.name}`